#game-grid {
	max-width: 300px;
	margin: 50px auto auto auto;
	opacity: 0.1;
	filter: alpha(opacity=20); /* For IE8 and earlier */
}

#game-grid .row {
	text-align: center;
	vertical-align: middle;
}

#game-grid .row:first-child {
	border-bottom: none;
}

#playerCount {
	width: 40px;
}

.square.odd {
	background: #f6f6fa;
}

.square.even {
	background: #fff;
}

#game-grid .square {
	height: 100px;
	line-height: 100px;
	width: 100px;
	border: 2px solid black;
	border-top: 0;
	margin-top: -1px;
	margin-left: -1px;
	font-family: 'Indie Flower', cursive;
	font-size: 80px;
}

#game-grid .square:hover {
	background: #ddd;
	border-top: 2px solid black;
	margin-top: -2px;
	height: 101px;
}

#game-grid .square:first-child {
	border-left: none;
}

#game-grid .square:last-child {
	border-right: none;
}

#game-grid .row:first-child .square {
	border-top: none;
}

#game-grid .row:last-child .square {
	border-bottom: none;
}

#instructions {
	font-size: 18px;
	font-weight: bold;
	margin-left: -50px;
}