#game-options {
  margin-top: 10px;
  margin-bottom: 20px;
}

#game-options .btn-grp {
  margin-left: 80px;
}

#game-options .label {
  position: absolute;
  font-size: 85px;
  font-weight: bold;
  top: -30px;
  bottom: 0;
  right: 0;
  color: #666;
  font-family: 'Indie Flower', cursive;
  width: 90px;
  height: 90px;
}

#xlabel {
  left: 220px;
}

#olabel {
  left: 100px;
}